body{
    background-image: url("../img/cloud.jpg");
    background-size: cover;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.float-left{
    float: left;
}

#header{
    background-color: rgba(60, 60, 60, 0.6);
}

#nav{
    background-color: rgba(65, 105, 225,0.4); /* royalblue */
    height: 30px;
    clear: both;
}

#menu li{
    display: inline-block;
    padding-right: 30px;
    font-family: Calibri;
    font-size: large;
}

#menu {
    text-align: center;
}

#menu :link, :visited{
    text-decoration: none;
    color: lightblue;
}

#menu :hover{
    color: white;
}

#content{
    background-color: rgba(255,255,255,0.4);
}

#footer{
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
#fcontent{
    position: absolute;
    bottom: 5px;
}