body{
    background-color: lightskyblue;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigation li{
   display: inline-block;
    padding-right: 6px;
}

#footer{
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
#fcontent{
    position: absolute;
    bottom: 5px;
}